body{
    background-color: rgb(103, 122, 73);
}

.phonebook-container{
    margin: 10px auto;
    border-radius: 10px;
    width: 450px;
    height: 570px;
    background-color: rgb(239, 232, 232);
}

.call{
    height: 60px;
    display: block;
    margin: 10px auto;
    padding-top: 5px;
}

.main-text{
    text-align: center;
}

.contact-adding-container{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.details{
    display: block;
    padding: 10px 30px;
    width: fit-content;
    margin-bottom: 7px;
    margin: 4px auto;
    padding-right: 200px;
    border-radius: 10px;
    border: none;


}

#input-name{
   


}

#input-number{
   
}

#add-btn{
    display: block;
    padding: 10px 30px;
    width: fit-content;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
}